// Fade-in
@keyframes mzc-fade-in {
    0% {
        visibility : hidden;
        opacity    : 0;
    }
    100% {
        visibility : visible;
        opacity    : 1;
    }
}

// left fade in
@keyframes mzc-left-fade-in {
    from {
        visibility : hidden;
        opacity    : 0;
        left       : -250px;
    }

    to {
        visibility : visible;
        opacity    : 1;
        left       : 0;
    }
}