// Minimum mobile width
@mq-mobile-min-width : ~"only screen and (min-width: 320px)";

// Minimum tablet width
@mq-tablet-width : ~"only screen and (min-width: 720px)";

// Minimum desktop width
@mq-desktop-min-width : ~"only screen and (min-width: 960px)";

// Desktop full width
@mq-desktop-full-width : ~"only screen and (min-width: 1280px)";
