.no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-radius(@r){
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    border-radius: @r;
}