@import "../common/misc";
@import "../common/colors";
@import "../common/media-queries";
@import "../common/mixins";
@import "../common/z-index";

.category-container {
    display        : flex;
    flex-direction : column;
    min-height     : 100vh;
    overflow       : hidden;

    .category-header {
        background-image    : url("/assets/img/categories/header.jpg");
        background-size     : cover;
        background-position : center center;
        color               : @material-white-darker;

        .category-header-content {
            position : relative;

            nav.category-list {
                display : none;
            }

            .logo {
                width  : 100px;
                margin : (@standard-offset / 4) auto 0;

                a, img {
                    display : block;
                    width   : 100%;
                }
            }

            h1 {
                text-align       : center;
                text-transform   : uppercase;
                padding          : (@standard-offset / 2) 0;
                border-top-width : 2px;
                border-top-style : solid;
                font-size        : 18px;

                br {
                    display : none;
                }
            }
        }


        h2.category-description {
            display          : none;
            width            : 100%;
            padding          : (@standard-offset / 2) 0;
            font-size        : 18px;
            text-align       : center;
            text-transform   : lowercase;
            border-top-width : 2px;
            border-top-style : solid;
        }
    }


    .category-content {
        position : relative;
        flex     : 1;

        .category-nav {
            .nav-item {
                .nav-item(45px);

                &.prev {
                    left : 0;
                }

                &.next {
                    right : 0;
                }

            }
        }

        .category-customer-list {
            position   : absolute;
            top        : 0;
            left       : 0;
            width      : 100%;
            height     : 100%;
            transition : 200ms;

            .category-item {
                position            : absolute;
                top                 : 0;
                left                : 0;
                display             : flex;
                flex-direction      : column;
                align-items         : stretch;

                // I use 2 justify-content on purpose because space-evenly seems not to work with Safari sometimes
                justify-content     : space-around;
                justify-content     : space-evenly;

                width               : 100%;
                height              : 100%;
                background-size     : cover;
                background-position : center center;

                .customer-description {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    color           : @material-white-darker;

                    .customer-description-content {
                        display         : flex;
                        flex-direction  : column;
                        justify-content : center;
                        align-items     : center;

                        &:hover, &.show-see-more {
                            .see-more {
                                opacity : 1;

                                &::before, &::after {
                                    width : 120px;
                                }
                            }
                        }


                        .name {
                            font-size      : 45px;
                            line-height    : 45px;
                            text-transform : uppercase;
                            font-weight    : 300;
                            font-family    : "Audrey", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        }

                        .description {
                            font-size   : 18px;
                            line-height : 18px;
                        }

                        .see-more {
                            position       : relative;
                            width          : 300px;
                            opacity        : 0;
                            margin-top     : @standard-offset / 2;
                            text-transform : uppercase;
                            transition     : opacity 200ms;
                            padding-top    : @standard-offset / 2;
                            align-self     : center;
                            text-align     : center;

                            &::before, &::after {
                                position         : absolute;
                                top              : 14px;
                                width            : 0;
                                height           : 1px;
                                background-color : @material-white-darker;
                                content          : '';
                                transition       : width 200ms;
                            }

                            &:before {
                                right : 180px;
                            }

                            &:after {
                                left : 180px;
                            }
                        }
                    }
                }

                .customer-image {
                    display         : flex;
                    justify-content : center;
                    align-items     : center;

                    a {
                        width  : 60%;
                        height : auto;

                        img {
                            width  : 100%;
                            height : auto;
                        }
                    }
                }

                &.lind {
                    .customer-description {
                        .customer-description-content {
                            padding-bottom   : @standard-offset / 4;
                            background-color : rgba(0, 0, 0, 0.5);
                        }
                    }
                }

                &.eveil {
                    .customer-description {
                        .customer-description-content {
                            text-align : center;
                        }
                    }
                }

                &.relooking {
                    .customer-description {
                        color : @material-black-darker;

                        .customer-description-content {
                            .see-more {
                                &:before, &:after {
                                    background-color : @material-black-darker;
                                }
                            }
                        }
                    }
                }

                &.mamas {
                    .customer-description {
                        color : #CB3226;

                        .customer-description-content {
                            .see-more {
                                &:before, &:after {
                                    background-color : #CB3226;
                                }
                            }
                        }
                    }
                }

                .logo-slider {
                    position         : absolute;
                    bottom           : -200px;
                    left             : 0;
                    width            : 100%;
                    height           : 200px;
                    padding          : 0 @standard-offset * 1.5;
                    transition       : bottom 250ms;

                    display          : flex;
                    align-items      : center;
                    background-color : rgba(255, 255, 255, 0.9);
                    cursor           : ew-resize;
                    overflow-x       : auto;

                    &::-webkit-scrollbar {
                        display : none;
                    }

                    &.show {
                        bottom : 0;
                    }

                    .logo-slider-drag {
                        position : absolute;
                        top      : 0;
                        left     : 0;
                        width    : 100%;
                        height   : 100%;
                    }

                    .logo-image {
                        margin-right : @standard-offset;
                        box-shadow   : 0 0 10px rgba(0, 0, 0, 0.3);

                        &.atout {
                            width : 260px;
                        }

                        &.ciredh {
                            width : 162px;
                        }

                        &.declic {
                            width : 332px;
                        }

                        &.fmb {
                            width : 130px;
                        }

                        &.gazzy {
                            width : 300px;
                        }

                        &.relooking {
                            width : 233px;
                        }

                        &.mamuth {
                            width : 87px;
                        }

                        &.spdef {
                            width : 620px;
                        }
                    }
                }
            }
        }
    }
}

@media @mq-mobile-min-width and (orientation : landscape) {
    .category-container {
        .category-content {
            .category-customer-list {
                .category-item {
                    flex-direction : row;

                    &:nth-child(even) {
                        flex-direction : row-reverse;
                    }

                    .customer-image {
                        a {
                            text-align : center;
                            width      : auto;
                            height     : 98%;

                            img {
                                height : 100%;
                                width  : auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @mq-desktop-min-width {
    .category-container {
        .category-header {
            .category-header-content {
                position : relative;

                nav.category-list {
                    display  : block;
                    position : absolute;
                    bottom   : 0;
                    left     : 0;
                    padding  : (@standard-offset / 2) 0 (@standard-offset / 2) (@standard-offset / 2);

                    ul {
                        display : flex;

                        li {
                            font-size      : 10px;
                            text-transform : uppercase;

                            &:not(:last-child)::after {
                                margin  : 0 (@standard-offset / 4);
                                content : '/';
                            }
                        }
                    }
                }

                .logo {
                    width : 195px;
                }

                h1 {
                    position         : absolute;
                    bottom           : 0;
                    right            : @standard-offset / 2;
                    padding          : 0;
                    font-family      : Moalang, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size        : 100px;
                    line-height      : 82px;
                    text-align       : right;
                    text-transform   : initial;
                    border-top-width : 0;

                    &.video {
                        top   : @standard-offset;
                        right : @standard-offset;
                    }

                    br {
                        display : initial;
                    }
                }
            }


            h2.category-description {
                display          : block;
                border-top-width : 5px;
            }
        }

        .category-content {
            .category-nav {
                .nav-item {
                    .nav-item(70px);
                }
            }

            .category-customer-list {
                .category-item {
                    flex-direction : row;

                    &:nth-child(even) {
                        flex-direction : row-reverse;
                    }

                    .customer-description {
                        .customer-description-content {
                            .name {
                                font-size   : 100px;
                                line-height : 100px;
                            }
                        }
                    }

                    &.relooking {
                        .customer-description {
                            .name {
                                font-size   : 90px;
                                line-height : 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-item (@font-size) {
    position    : absolute;
    top         : calc(50% - (@font-size / 2));
    z-index     : @z-category-nav;
    cursor      : pointer;
    user-select : none;

    i {
        width            : @font-size;
        height           : @font-size;
        background-color : rgba(0, 0, 0, 0.5);
        font-size        : @font-size;
        line-height      : @font-size;
        color            : @material-white-darker;
    }
}
