@import "../common/misc";
@import "../common/colors";
@import "../common/z-index";


.contact-container {
    @contact-container-width : 85%;

    position         : fixed;
    top              : 0;
    right            : -@contact-container-width;
    z-index          : @z-contact-container;
    transition       : 200ms;

    display          : flex;
    flex-direction   : column;
    width            : @contact-container-width;
    height           : 100vh;

    align-items      : stretch;
    justify-content  : stretch;
    background-color : #1F1F1F;
    font-size        : 18px;
    color            : @material-white-darker;

    body.intro & {
        display : none;
    }

    &.visible {
        right      : 0;
        box-shadow : 0 -2px 10px @material-black-light;
    }

    .contact-logo {
        @logo-width : 200px;

        display  : block;
        position : absolute;
        width    : @logo-width;
        left     : calc(50% - (@logo-width / 2));
        top      : calc(50vh - (@logo-width / 2));

        img {
            display : block;
            width   : 100%;
        }
    }

    .contact-item {
        display         : flex;
        align-items     : center;
        justify-content : center;
        flex            : 1;
        padding         : 0 @standard-offset;
        text-align      : center;


        &.contact-left {
            background-color : #1F1F1F;
        }

        &.contact-right {
            background-color : #070707;
        }
    }

    .contact-toggle {
        position         : absolute;
        left             : -@standard-offset * 2.75;
        bottom           : @standard-offset * 5;
        padding          : (@standard-offset * 0.75) @standard-offset (@standard-offset * 0.75) (@standard-offset * 0.75);
        border-radius    : (@standard-offset * 2) 0 0 (@standard-offset * 2);
        background-color : #070707;
        cursor           : pointer;

        i {
            position : relative;
            top      : 1px;
            left     : 1px;
        }
    }

}

@media @mq-desktop-min-width {
    .contact-container {
        @contact-container-width : 300px;

        right : -@contact-container-width;
        width : @contact-container-width;
    }
}


