@import "../common/misc";
@import "../common/colors";
@import "../common/media-queries";
@import "../common/mixins";
@import "../common/z-index";

@keyframes mzc-arrow-movement {
    0% {
        bottom : 4px;
    }

    50% {
        bottom : 10px;
    }

    100% {
        bottom : 4px;
    }
}

.customer-container {
    .customer-item {
        position : relative;
        height   : 100vh;

        &:first-child {
            background-attachment : fixed;
        }

        &.image {
            background-size     : contain;
            background-position : center center;
            background-repeat   : no-repeat;
        }

        &.slider {
            overflow : hidden;

            img.slider-item {
                display  : none;
                position : absolute;
                top      : 0;
                left     : 0;

                height   : 100%;
                width    : auto;
            }

            .slider-progress {
                position : absolute;
                top      : 0;
                left     : 0;
                width    : 100%;
                height   : 3px;
                z-index  : @z-slider-bar;

                .slider-bar {
                    width            : 0;
                    height           : 100%;
                    background-color : @material-white-darker;
                }
            }
        }

        &.video {
            video {
                position : relative;
            }
        }

        &:last-child {
            &.video {
                margin-bottom : @standard-offset * 3;
            }
        }

        .customer-nav {
            position         : absolute;
            bottom           : 0;
            left             : 0;
            width            : 100%;
            min-height       : 100px;
            padding-bottom   : @standard-offset * 0.75;

            display          : flex;
            justify-content  : center;
            align-items      : center;
            align-content    : space-evenly;
            flex-wrap        : wrap;

            background-color : @material-white-darker;

            .customer-nav-item {
                display        : flex;
                align-items    : center;
                padding        : 0 @standard-offset;
                height         : 40px;
                text-transform : uppercase;
            }


            .nav-next {
                position     : absolute;
                bottom       : 4px;
                left         : calc(50% - 4px);
                width        : 0;
                height       : 0;
                border-top   : 8px solid @material-black-darker;
                border-left  : 12px solid transparent;
                border-right : 12px solid transparent;
                content      : '';
                cursor       : pointer;
                animation    : mzc-arrow-movement 1500ms infinite;
            }

        }
    }
}

.customer-nav {
    position        : absolute;
    display         : flex;
    justify-content : space-between;
    bottom          : @standard-offset;
    left            : 0;
    width           : 100%;

    a {
        margin          : 0 @standard-offset;
        color           : white;
        text-decoration : none;
        text-shadow     : 2px 2px 4px @material-black-dark;
        white-space     : nowrap;

        .arrow {
            font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    }
}

@media @mq-desktop-min-width {
    .customer-container {
        .customer-item {
            .customer-nav {
                padding-bottom : 0;
            }
        }
    }
}
