@font-face {
    font-family : 'Moalang';
    src         : url('/assets/fonts/swistblnk_moalang_melintang-webfont.woff2') format('woff2'),
    url('/assets/fonts/swistblnk_moalang_melintang-webfont.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'Audrey';
    src         : url('/assets/fonts/audrey-normal-webfont.woff2') format('woff2'),
    url('/assets/fonts/audrey-normal-webfont.woff') format('woff');
    font-weight : 300;
    font-style  : normal;
}

@font-face {
    font-family : 'Audrey';
    src         : url('/assets/fonts/audrey-normaloblique-webfont.woff2') format('woff2'),
    url('/assets/fonts/audrey-normaloblique-webfont.woff') format('woff');
    font-weight : 300;
    font-style  : italic;

}

@font-face {
    font-family : 'Audrey';
    src         : url('/assets/fonts/audrey-medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/audrey-medium-webfont.woff') format('woff');
    font-weight : 400;
    font-style  : normal;

}

@font-face {
    font-family : 'Audrey';
    src         : url('/assets/fonts/audrey-mediumoblique-webfont.woff2') format('woff2'),
    url('/assets/fonts/audrey-mediumoblique-webfont.woff') format('woff');
    font-weight : 400;
    font-style  : italic;

}

@font-face {
    font-family : 'Audrey';
    src         : url('/assets/fonts/audrey-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/audrey-bold-webfont.woff') format('woff');
    font-weight : 500;
    font-style  : normal;
}

@font-face {
    font-family : 'Audrey';
    src         : url('/assets/fonts/audrey-boldoblique-webfont.woff2') format('woff2'),
    url('/assets/fonts/audrey-boldoblique-webfont.woff') format('woff');
    font-weight : 500;
    font-style  : italic;
}

@font-face {
    font-family : 'Avenir';
    src         : url('/assets/fonts/Avenir-Roman.woff2') format('woff2'),
    url('/assets/fonts/Avenir-Roman.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family: 'Ailerons';
    src: url('/assets/fonts/ailerons.woff2') format('woff2'),
    url('/assets/fonts/ailerons.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







