@import '../common/misc';
@import '../common/media-queries';

.in-progress-container {
    margin-top    : @standard-offset * 10;
    margin-bottom : @standard-offset * 5;
    font-family   : Moalang, "Helvetica Neue", sans-serif;
    font-size     : 64px;
    color         : white;
    word-spacing  : 20px;
    text-align    : center;
}


@media @mq-tablet-width {
    .in-progress-container {
        margin-top : @standard-offset * 17;
        font-size  : 100px;
    }
}
