@import "../common/z-index";
@import "../common/misc";
@import "../common/colors";
@import "../common/animations";
@import "../common/media-queries";
@import "../common/mixins";

.video-player {
    display          : none;
    position         : fixed;
    width            : 100%;
    top              : 0;
    left             : 0;
    z-index          : @z-index-menu - 1;
    visibility       : visible;
    opacity          : 1;
    transition       : opacity @transition-time, visibility @transition-time;
    background-color : #000;

    &.animated {
        position : relative;
    }

    & + .stop-video {
        display          : none;
        position         : fixed;
        top              : @standard-offset / 2;
        right            : @standard-offset / 2;
        padding          : (@standard-offset / 2) (@standard-offset / 2) 5px;
        z-index          : @z-index-menu + 3;
        border           : 1px @material-white-darker solid;
        background-color : @material-black-dark;
        color            : @material-white-darker;
        cursor           : pointer;
        text-transform   : uppercase;
        font-size        : 12px;

        & + .toggle-mute {
            display     : none;
            position    : fixed;
            top         : 10px;
            right       : @standard-offset * 9;
            z-index     : @z-index-menu + 3;
            color       : @material-white-darker;
            cursor      : pointer;
            user-select : none;
        }
    }

}

.home-container {
    position            : relative;
    display             : none;
    width               : 100vw;
    min-height          : 100vh;
    overflow            : hidden;

    background-image    : url(/assets/img/background.jpg);
    background-repeat   : no-repeat;
    background-size     : cover;
    background-position : center center;

    .screen-container {
        position : relative;
        width    : 90%;
        margin   : (@standard-offset * 10) auto (@standard-offset * 2);
        overflow : hidden;

        img.video-screen {
            width  : 100%;
            height : auto;
        }

        .video-subcontainer {
            position        : absolute;
            display         : flex;
            justify-content : center;
            align-items     : center;
            top             : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;

            video {
                width      : 83%;
                margin-top : -3px;
                .border-radius(10px);
            }
        }
    }

    .home-menu {
        position        : relative;
        display         : flex;
        justify-content : center;
        flex-wrap       : wrap;
        width           : 100%;
        margin          : 0 auto;

        &.menu-visible {
            li.menu-item {
                @first-delay : 300ms;

                text-transform : uppercase;

                .item-animation(@delay) {
                    animation : mzc-left-fade-in 150ms @delay ease-out forwards;
                }

                &.item-1 {
                    .item-animation(@first-delay);
                }

                &.item-2 {
                    .item-animation(@first-delay + 100ms);
                }

                &.item-3 {
                    .item-animation(@first-delay + 200ms);
                }

                &.item-4 {
                    .item-animation(@first-delay + 300ms);
                }

                &.item-5 {
                    .item-animation(@first-delay + 400ms);
                }

                &.item-6 {
                    .item-animation(@first-delay + 500ms);
                }

                &.item-7 {
                    .item-animation(@first-delay + 600ms);
                }
            }
        }

        li {
            &.menu-item {
                position      : relative;
                width         : 45%;
                margin-bottom : @standard-offset;
                opacity       : 0;
                text-align    : center;

                a {
                    position   : relative;
                    display    : inline-block;
                    margin     : 0 1px;
                    padding    : (@standard-offset / 2) @standard-offset;
                    overflow   : hidden;
                    color      : @material-white-darker;
                    font-size  : 18px;
                    text-align : center;

                    &:before {
                        transform     : translateX(-100%);
                        position      : absolute;
                        bottom        : 0;
                        left          : 0;
                        width         : 100%;
                        height        : 1px;
                        border-bottom : 1px solid transparent;
                        border-right  : 1px solid transparent;
                        content       : '';
                    }

                    &:after {
                        transform   : translateX(100%);
                        position    : absolute;
                        top         : 0;
                        left        : 0;
                        width       : 100%;
                        height      : 1px;
                        border-top  : 1px solid transparent;
                        border-left : 1px solid transparent;
                        content     : '';
                    }

                    &:hover {
                        @step : 60ms;

                        &:before {
                            transition   : @step transform linear, @step height linear @step;
                            transform    : translateX(0);
                            height       : 100%;
                            border-color : @material-white-darker;
                        }

                        &:after {
                            transition   : @step transform linear (@step * 2), @step height linear (@step * 3);
                            transform    : translateX(0);
                            height       : 100%;
                            border-color : @material-white-darker;
                        }
                    }
                }
            }
        }
    }
}

@media @mq-tablet-width {
    .home-container {
        .screen-container {
            margin : (@standard-offset * 5) auto (@standard-offset * 1.5);

            .video-subcontainer {
                video {
                    width      : 84%;
                    margin-top : -5px;
                    .border-radius(15px);
                }
            }
        }

        .home-menu {
            li {
                &.menu-item {
                    width : 30%;
                }
            }
        }
    }
}

@media @mq-desktop-full-width {
    .video-player {
        display : block;

        & + .stop-video {
            display : block;

            & + .toggle-mute {
                display : block;
            }
        }

        .no-intro & {
            display : none;

            & + .stop-video {
                display : none;

                & + .toggle-mute {
                    display : none;
                }
            }
        }
    }

    .home-container {

        .screen-container {
            position : relative;
            top      : -@standard-offset / 2;
            width    : 75%;
            margin   : 0 auto;

            .video-subcontainer {
                video {
                    margin-top : -7px;
                    .border-radius(45px);
                }
            }
        }

        .home-menu {
            position : relative;
            top      : -@standard-offset / 2;

            li {
                &.menu-item {
                    width         : auto;
                    margin-bottom : 0;

                    &:not(:last-child) {
                        margin-right : @standard-offset * 2;
                    }
                }
            }
        }
    }
}

