@import '../common/misc';
@import '../common/colors';
@import '../common/media-queries';

body {
    position    : relative;
    font-family : Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight : 400;
    font-style  : normal;
    font-size   : 16px;

    &.home {
        overflow         : hidden;
        background-color : #000;
    }

    &.category {
        &.videos {
            background-color : @video-category-background;
        }
    }

    &.customer {
        background-color : #000;
    }

    &.in-progress {
        background-color : @material-grey-900;
    }

    &::before {
        display : none;
        content : 'mobile';
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

a {
    text-decoration : none;
    color           : inherit;
}

.main-container {
    padding : @standard-offset * 3 @standard-offset @standard-offset @standard-offset;
}

@media @mq-tablet-width {
    body {
        &.home {
            //background-image    : url(/assets/img/background.jpg);
            //background-size     : cover;
            //background-position : center center;
        }

        &::before {
            content : 'tablet';
        }
    }
}

@media @mq-desktop-min-width {
    body {
        &::before {
            content : 'desktop';
        }
    }
}
