@import '../common/media-queries';
@import '../common/colors';
@import '../common/misc';
@import '../common/z-index';
@import '../common/mixins';
@import '../common/animations';

.open-menu {
    position  : fixed;
    top       : 0;
    left      : 0;
    padding   : @standard-offset / 2;
    z-index   : @z-index-menu - 1;
    opacity   : 0;
    font-size : 40px;
    cursor    : pointer;
    .no-select();

    animation : mzc-fade-in 1s 200ms forwards;

    &.white {
        color : @material-white-darker;
    }

    .customer & {
        text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.5);

        &.close-menu {
            text-shadow : none;
        }
    }
}

.main-menu {
    .close-menu {
        .open-menu();
        position : absolute;
    }

    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : @z-index-menu;
    box-shadow       : 2px 2px 10px @material-black-lighter;
    background-color : @material-white-darker;
    width            : 0;
    height           : 100%;
    overflow         : hidden;
    transition       : @transition-time;
    .no-select();

    ul.menu-items {
        font-size   : @standard-offset * 1.5;
        margin-left : 70px;
        margin-top  : 85px;

        li {
            position   : relative;
            visibility : hidden;
            opacity    : 0;
            left       : -100px;
        }

        li:not(:first-child) {
            margin-top : 24px;
        }
    }

    &.main-menu-visible {
        width      : 90%;
        overflow-y : auto;

        ul.menu-items {

            @transition-duration : 400ms;

            li {
                visibility : visible;
                opacity    : 1;
                left       : 0;
                transition : opacity @transition-duration ease-out, visibility @transition-duration ease-out, left @transition-duration ease-out;

                @transition-delay : 200ms;
                @transition-offset : 60ms;

                &.item-1 {
                    transition-delay : @transition-delay;
                }

                &.item-2 {
                    transition-delay : @transition-delay + @transition-offset;
                }

                &.item-3 {
                    transition-delay : @transition-delay + @transition-offset*2;
                }

                &.item-4 {
                    transition-delay : @transition-delay + @transition-offset*3;
                }

                &.item-5 {
                    transition-delay : @transition-delay + @transition-offset*4;
                }

                &.item-6 {
                    transition-delay : @transition-delay + @transition-offset*5;
                }

                &.item-7 {
                    transition-delay : @transition-delay + @transition-offset*6;
                }

                &.has-submenu {
                    position : relative;

                    &::before {
                        position      : absolute;
                        top           : 2px;
                        left          : -@standard-offset * 1.5;
                        width         : 0;
                        height        : 0;
                        border-top    : 8px solid transparent;
                        border-bottom : 8px solid transparent;
                        border-left   : 8px solid @material-black-darker;
                        content       : '';
                        transition    : transform 200ms;
                    }

                    .submenu {
                        overflow   : hidden;
                        max-height : 0;
                        transition : max-height 200ms linear;

                        li {
                            margin-left : @standard-offset * 1.5;

                            &:first-child {
                                margin-top : @standard-offset * 1.5;
                            }
                        }
                    }

                    &.opened {
                        &::before {
                            transform : rotate(90deg);
                        }

                        .submenu {
                            max-height : 350px;
                        }
                    }

                }
            }
        }
    }
}

@media @mq-tablet-width {
    .main-menu {

        &.main-menu-visible {
            width      : 415px;
            overflow-y : auto;
        }

        ul.menu-items {
            margin-left : 75px;
            margin-top  : 85px;
        }
    }
}
