@import "../common/misc";
@import "../common/colors";
@import "../common/media-queries";

.category-container {
    .video-category-content {
        .video-types {
            background-color : #000;
            color            : @material-white-darker;

            ul.main-types {
                > li {
                    position       : relative;
                    padding        : (@standard-offset / 4) 0;
                    font-family    : 'Ailerons', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size      : 18px;
                    text-transform : uppercase;
                    text-align     : center;
                    letter-spacing : 2px;
                    transition     : background-color 200ms;

                    &:not(:last-child) {
                        border-bottom : 1px @material-white-darker solid;
                    }

                    &.active {
                        background-color : @video-category-background;
                    }

                    > ul.subtypes {
                        display : none;
                    }

                    > a .material-icons {
                        display : none;
                    }
                }
            }
        }

        .video-category-inner-content {
            .video-category-player {
                margin-bottom : @standard-offset / 2;

                video {
                    position : relative;
                    z-index  : 0;
                    width    : 100%;
                    outline  : none;
                }
            }

            .video-thumbnails {
                display       : flex;
                align-content : flex-start;
                flex-wrap     : wrap;
                padding       : 0 (@standard-offset / 2);

                .thumbnail-item {
                    width   : 50%;
                    padding : (@standard-offset / 2) (@standard-offset / 2) 0;
                    cursor  : pointer;

                    &.private-video {
                        display : none;
                    }

                    img {
                        display : block;
                        width   : 100%;
                    }

                    .video-description {
                        display     : flex;
                        align-items : center;
                        margin      : (@standard-offset / 2) 0;
                        color       : @material-white-darker;

                        .video-title {
                            white-space   : nowrap;
                            overflow      : hidden;
                            text-overflow : ellipsis;
                            font-size     : 18px;
                        }

                        i.material-icons {
                            margin-right     : @standard-offset / 2;
                            background-color : @material-blue-900;
                            font-size        : 18px;

                            &:hover {
                                background-color : @material-blue-700;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @mq-desktop-min-width {
    .category-container {
        .video-category-content {

            .video-types {
                ul.main-types {
                    display : flex;

                    > li {
                        width     : 50%;
                        font-size : 34px;

                        &:not(:last-child) {
                            border-bottom : none;
                        }

                        a {
                            display : block;

                            > .material-icons {
                                position    : relative;
                                top         : 2px;
                                display     : initial;
                                font-size   : 30px;
                                line-height : 100%;
                            }
                        }

                        > ul.subtypes {
                            position         : absolute;
                            top              : 100%;
                            left             : 0;
                            z-index          : 1;
                            display          : flex;
                            width            : 100%;
                            height           : 0;
                            overflow         : hidden;
                            background-color : @video-category-background;
                            text-align       : left;
                            transition       : height 100ms linear;

                            > li {
                                display    : inline-block;
                                flex       : 1;
                                padding    : (@standard-offset / 2) 0;
                                border-top : 1px @material-grey-700 solid;
                                text-align : center;
                                font-size  : 24px;

                                a {
                                    opacity : 0.2;

                                    &.active {
                                        opacity : 1;
                                    }
                                }
                            }
                        }

                        &.active:hover {
                            > ul.subtypes {
                                height : 40px;
                            }
                        }
                    }
                }
            }

            .video-category-inner-content {
                display : flex;

                .video-category-player {
                    flex-grow : 1;
                    padding   : @standard-offset @standard-offset 0;
                }

                .video-thumbnails {
                    width       : 27%;
                    flex-grow   : 0;
                    flex-shrink : 0;
                    margin-top  : @standard-offset;
                    padding     : 0 (@standard-offset / 4);
                    overflow-y  : auto;

                    .thumbnail-item {
                        width   : 45%;
                        margin  : 0 2.5% @standard-offset;
                        padding : 0;
                    }
                }
            }
        }
    }
}
